/* --------------- Färgpalett --------------- */
:root {
  --color-text: #FFFFFF; /* Ikoner och text */
  --color-dark: #373636;   /* gemensam för boxar, header, footer */
  --color-background: #000000; 
  --color-primary: #2D6A4F;
  --color-secondary: #D03636;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------- Utility settings --------------- */

/* Containers */
.container-l {
    margin: 0 auto;
    max-width: 1200px;
}

.container {
    margin: 0 auto;
    width: 95vw;
    max-width: 600px;
}

/* Bakgrundsfärger*/
.bg-black {
    background-color: var(--color-background);
    color: var(--color-text);
}

.bg-dark {
    background-color: var(--color-dark);
    color: var(--color-text);
}

/* Knappar */