/* --------------- Färgpalett --------------- */
:root {
  --color-text: #FFFFFF; /* Ikoner och text */
  --color-dark: #373636; /* gemensam för boxar, header, footer */
  --color-dark-hover: #504e4e;   
  --color-background: #000000; 
  --color-primary: #2D6A4F;
  --color-secondary: #D03636;
}

/* --------------- General settings---------------  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--color-background);
}

img {
    max-width: 100%;
}

/* Header och navigering */

header {
    width: 100%;
}

header .logo-header {
    display: flex;
    align-items: center;
    height: 100%;
}

header .logo-header img{
    width: 165px;
}

header .container-l {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

header .container-l i {
    margin-right: 0.5rem;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    padding: 1.1rem;
    color: var(--color-text);
}

header .login a{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    padding: 1.1rem;
    color: var(--color-text);
}

header a.active {
    border-bottom: 3px solid var(--color-primary); 
}
header .login a:hover {
    background-color: var(--color-dark-hover);
}
header nav ul li a:hover{
    background-color: var(--color-dark-hover);
}

/* --------------- Bokning boxen --------------- */

/* Bokningsrutan */
section .bokning-action {
    padding: 1rem 2rem;
    font-size: 1rem;

}

/* Formelayout */
section .bokning-action form {
    display: grid;
    gap: 1rem;
}


/* Labels */
section .bokning-action label i {
    margin-right: 0.5rem;
}

/* Input */
section .bokning-action input {
    padding: 0.8rem;
}
section .bokning-action #tripNote{
    padding: 3rem 1rem;
}

/* Fieldset */
section .bokning-action fieldset {
    border: none;
    margin-bottom: 0.8rem;
}

section .bokning-action fieldset label {
    margin-right: 4rem;
}

/* Legend */
section .bokning-action legend {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

/* --------------- bakgrund startsida --------------- */

.bokning {
    background-image:
        linear-gradient(
            to bottom,
            rgba(0,0,0,0.15),
            rgba(0,0,0,0.85),
            black
        ),
        url("/assets/header-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}


/* --------------- startsida --------------- */

.header-box {
    padding-top: 20vh;
}

.info-holder .container img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.info-holder .container h2{
    margin-bottom: 0.5rem;
}

.info-holder .container p {
    margin-bottom: 1rem;
}

/* --------------- Booking/history --------------- */
.booking {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.booking h2 {
    margin-bottom: 0.5rem;
}

.booking span {
    font-weight: 600;
    margin-right: 0.5rem;
}

.booking-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking .btn {
    padding: 0.5rem 1rem;
}

/* --------------- Regler sida --------------- */
.regler .regler-container{
    padding: 2rem 1rem;
}

.regler .regler-container h2{
    margin-bottom: 2rem;
}
.regler .regler-container h3{
    margin-bottom: 0.5rem;
}

.regler .regler-container ul{
    margin-left: 2rem;
    margin-bottom: 1rem;
}

/*--------------- Kontakt formulär ---------------*/

.kontakt .form-box {
    padding: 1rem 2rem;
    font-size: 1rem;
}

.kontakt .form-box legend {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.kontakt .form-box input {
    padding: 0.8rem;
}

.kontakt .form-box #messageInput{
    padding: 0.8rem;
    height: 200px;
    margin-bottom: 1rem;
}

.kontakt .form-box form fieldset{
    display: grid;
    gap: 0.5rem;
    border: none;
}

/* --------------- Policy och integritet --------------- */
.policy .container {
    padding: 4rem 1rem;
}

.policy .container h1{
    margin-bottom: 1rem;
}
.policy .container h2{
    margin-bottom: 0.5rem;
}
.policy .container p{
    margin-bottom: 1rem;
}
.policy .container ul{
    margin-left: 1rem;
    margin-bottom: 1rem;
}
/* --------------- about / page --------------- */
.about-us .container img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
/* --------------- logga in / page --------------- */
.login-section {
    min-height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section .container-sm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    gap: 4rem;
}

.login-section .headerbox {
    width: 100%;
}

.login-section .container-sm img {
    width: 100%;
}

.login-section form {
    display: grid;
    gap: 1rem;
    width: 100%;
}

.login-section form a {
    text-decoration: none;
}

.login-section input {
    padding: 0.8rem;
    margin-bottom: 2rem;
}

/* --------------- bokningsbekräftelse --------------- */

.modul {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modul.hidden {
    display: none;
}

.modul-content {
    padding: 4rem 2rem;
    text-align: center;
}

.modul-content h2 {
    margin-bottom: 2rem;
}

.modul-content p {
    margin-bottom: 4rem;
}


/* --------------- Footer settings --------------- */
footer {
    width: 100%;
}

footer .container-l {
    padding: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

footer .logo-footer img{
    width: 100px;
}

footer .text {
    max-width: 450px;
}

footer .link-label {
    font-size: 1rem;
    font-weight: 500;
}

footer nav ul {
    list-style: none;
}

footer nav ul li a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 0.8rem;
}

footer nav ul li a:hover{
    border-bottom: 1px solid var(--color-text);
}



/* --------------- Utility settings --------------- */

/* Containers */
.container-l {
    margin: 0 auto;
    max-width: 1600px;
}

.container {
    margin: 0 auto;
    width: 95vw;
    max-width: 600px;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.container-sm {
    margin: 0 auto;
    width: 95vw;
    max-width: 400px;
    margin-bottom: 1rem;
    border-radius: 8px;
}

/* Bakgrundsfärger*/
.bg-black {
    background-color: var(--color-background);
    color: var(--color-text);
}

.bg-dark {
    background-color: var(--color-dark);
    color: var(--color-text);
}

.bg-green {
    background-color: #9AD7BC;
    color: var(--color-background);
}

/* Knappar */
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #f4f4f6;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.btn:hover{
    opacity: 0.5;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-text);
}
.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text */

.text-xxl {
    font-size: 4rem;
    font-weight: 600;
}
.text-xl{
    font-size: 2rem;
    font-weight: 600;
}

.text-l{
    font-size: 1.2rem;
    font-weight: 600;
}

.text-md {
    font-size: 1rem;
}

.text-sm {
    font-size: 0.9rem;
}

.text-center {
    text-align: center;
}

.text-link {
    text-decoration: none;
    font-style: italic;
    color: var(--color-primary);
}
.text-link:hover{
    opacity: 0.7;
    text-decoration: underline;
}

.text-holder {
    max-width: 65ch;
    padding: 1rem;
}


/* MEDIAQUERIES*/

@media (max-width:770px){
    header .container-l {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

    /* Flytta ner menyn under headern */
    header nav {
        display: block;
        width: 100%;
        order: 2; /* gör att nav hamnar sist i container-l */
        margin-top: 0.5rem;
    }

    /* Gör menyn vertikal */
    header nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: var(--color-dark);
        padding: 1rem 0;
        gap: 0.5rem;
    }

    /* Länkarna fyller hela bredden */
    header nav ul li a {
        width: 100%;
        padding: 0.8rem 0;
        display: block;
        border-radius: 8px;
        background-color: var(--color-dark-hover);
    }

    header a.active {
    background-color: var(--color-primary); 
}

}